#login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(119, 12, 35);
  
    
}
form{
    background-color: rgb(177, 97, 72);
    padding: 40px;
    margin-top: 100px;
}
.Heading{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url("images/carissa-gan-_0JpjeqtSyg-unsplash (1).jpg");
  }
   .Pizza{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

  }
  #pizzashop{
    background-color:rgb(77, 23, 35);
  }
  .card button:hover {
    opacity: 0.7;
  }
  .price {
    color: rgb(95, 51, 57);
    font-size: 22px;
  }
  #Mainpizza{
    display: flex;
  }
.card img{
  height:300px ;
}

  
  
  
